{% load static %}
    {% if total_comunicados == 0 %}
    <div class="container-fluid p-5 cuerpo extra">
      <div class="alert alert-info text-center" role="alert">
        No hay comunicados
      </div>
    </div>
    

    {% else %}
    <div class="container-fluid p-3 cuerpo">
      
      <div class="d-xl-none d-xxl-block d-xxl-none row row-cols-1 row-cols-md-3 g-4">
          {% for comunicado in comunicados %}
          {% if comunicado.visible == True %}
          <div class="col">
              <div class="card text-center">
                  <div class="card-body">
                      <h5 class="card-title text-start text">{{ comunicado.titulo }}</h5>
                      <h6 class="text-start opacity-75 text">{{ comunicado.entidad }}</h6>
                      <p class="card-text text-start lh-lg text">{{ comunicado.contenido }}</p>
                      <p class="card-text text-start lh-lg text">{{ comunicado.autor }}</p>
                  </div>
              </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
      

      <div id="carrousel" class="container-fluid d-xl-block d-none">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            {% for comunicado in comunicados %}
              {% if comunicado.visible == True %}

            

              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                  <div class="card text-center m-2">
                    <div class="card-body ">
                      <h1 class="display-1 text-start text">{{ comunicado.titulo }}</h1>
                      <h6 class=" display-6 text-start opacity-75 text" >{{ comunicado.entidad }}</h6>
                      <p class="lead text-start lh-lg text" >{{ comunicado.contenido }}</p>
                      <p class="card-text text-start lh-lg text" >{{ comunicado.autor }}</p>
                    </div>
                  </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
      
  {% endif %}
    